#loginCont {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

label, form h1, form p  {
  color: #474e5d;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center;
  transition: .3s;
}

input:focus {
  background-color: rgb(204, 203, 203);
  outline: none;
}

input::placeholder {
  text-align: center;
}

button {
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  transition: .3s;
}

button:hover {
  opacity: 1;
  border-radius: 5px ;
}

#signinbtn {
  background-color: #ff006a;
}

#cancelbtn {
  padding: 14px 20px;
  background-color: #f51000;
}

#cancelbtn,
#signinbtn {
  width: 25%;
  margin: 0 auto;
}

.container {
  padding: 30px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  width: 30%; 
}

hr {
  border: 1px solid #ff006a;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #6b1818;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}