/* Smarthphone */
@media only screen 
and (max-width : 768px) {
    #title {
        width: 50%;
        margin-top: 20%;
    }

    #span {
        padding: 30px;
    }

    #statcard {
        margin: 0 auto;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 8px;
        background-color: rgb(31, 31, 31);
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    .only-desktop {
        display: none;
    }

    #dashboardContainer {
        width: 100%;
    }

    #formInsert {
        width: 80%;
    }

    .modal-content {
        width: 60% !important;
    }

}

/* Tablet */
@media only screen 
and (max-width : 989px) and (min-width : 769px) {
    #title {
        width: 50%;
        margin-top: 18%;
    }

    #span {
        padding: 30px;
    }

    #formInsert {
        width: 60%;
        background-color: white;
        padding: 2rem;
        text-align: center;
    }

    .modal-content {
        width: 75% !important;
    }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 990px) {
    #statcard {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-bottom-right-radius: 30px;
    }

    #dashboardContainer {
        width: 50%;
        margin: 0 auto;
    }
    
}
