* {
    box-sizing: border-box;
}

body {
    color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(124deg, #DE3BE6, #8D3CF0, #292ECC);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

nav {
    background-color: rgba(31, 31, 31, 1);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid white;
}

nav a {
    color: white !important;
}

.navbar-brand{
    font-size: 1.10em;
    color: white !important;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a {
    text-decoration: none;
}

section {
    border-bottom: 2px solid white;
}

#timeSection, #dashboardSection{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    position: absolute;
    margin-top: 12%;
    left: 0;
    right: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#title > h1 {
    font-weight: 900;
    text-shadow: 2px 2px #050505;
    border-bottom: 2px solid white;
    padding: .5rem;
    border-bottom-right-radius: 20px;
}

#desc{
    margin-top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#desc > p {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}

#lineCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

#span {
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    border-bottom: 6px solid white;
    transition: .3s;
}

#span:hover {
    transform: scale(1.1);
    border-bottom: 6px solid #ff006a;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.lineRow {
    width: 70% !important;
}

#info {
    width: 100%;
}

#chartSection {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#statcard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ele {
    margin-top: 5px;
    margin-bottom: 5px;
}

#statvaluepositive {
    color: rgb(0, 255, 42);
    font-size: 35px;
    font-weight: 700;
    position: relative;
    align-self: flex-end;
}

#statevaluenegative {
    color: rgb(255, 0, 0);
    font-size: 35px;
    font-weight: 700;
}

#arrowCont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}

#arrowCont #arrowIcon{
    font-size: 2rem;
}

div > h5 {
    text-align: center;
}

#chartTitle {
    border: 2px solid white;
    border-radius: 20px;
    padding: 1.3rem;
}

.card {
    color: #464646;
    text-align: center;
    box-shadow: 0 0 20px #25252e;
}

.card i {
    font-size: 30px;
}

.card h3 {
    font-weight: 600;
}

#dashboardSection .row-100 {
    width: 100vw !important;
}